    <div id='footer'>
      <a target='_blank' id='link' href='https://cokebust.bandcamp.com/'>bandcamp</a>
      <span>  -x-  </span>
      <a target='_blank' id='link' href='https://twitter.com/cokebust?lang=en'>twitter</a>
      <span>  -x-  </span>
      <a target='_blank' id='link' href='https://www.facebook.com/cokebust/'>facebook</a>
      <span>  -x-  </span>
      <a target='_blank' id='link' href='mailto:cokebust@gmail.com'>cokebust@gmail.com</a>
    </div>
  </body>
</html>
