<html>
  <head>
    <title>Coke Bust -- <%= title %></title>
    <link rel='stylesheet' href='css.css'>
  </head>
  <body>
    <div id='nav'>
      <div class='navItem'><a href='/news'>News</a></div>
      <div class='navItem'><a href='/shows'>Shows</a></div>
      <div class='navItem'><a href='/store'>Store</a></div>
      <div class='navItem'><a href='/releases'>Releases</a></div>
      <div class='navItem'><a href='/about'>About</a></div>
    </div>
