<html>
  <head>
    <title>Coke Bust -- <%= title %></title>
    <link rel='stylesheet' href='/css.css'>
    <link rel="icon" type="image/x-icon" href="/jubertleft.png">
  </head>
  <script>
    const resizeContent = () => {
      var offsetHeight = document.getElementById('nav').offsetHeight;
      document.getElementById('content').style.paddingTop = offsetHeight;
    }
  </script>
  <body onresize="resizeContent()" onload="resizeContent()">
    <div id='nav'>
      <div class='navLogo'><img src='/logo.jpg'></div>
      <div class='navItem'><a href='/news'>News</a></div>
      <div class='navItem'><a href='/shows'>Shows</a></div>
      <div class='navItem'><a href='/store'>Store</a></div>
      <div class='navItem'><a href='/releases'>Releases</a></div>
      <div class='navItem'><a href='/about'>About</a></div>
    </div>
