<html>
  <head>
    <script type='text/javascript' src='http://www.midijs.net/lib/midi.js'></script>
  </head>
  <body onload="MIDIjs.play('bigpimpin.mid');">
    ah ah ah<br />
    <img src='ahahah.gif'><br />
    you didn't say the magic word<br />
    you dont have access to: <%= action %>
  </body>
</html>
