<html>
  <head>
    <title>COKE BUST ADMIN</title>
    <link rel='stylesheet' href='/css.css'>
    <link rel="icon" type="image/x-icon" href="/jubertleft.png">
  </head>
  <body>
    <div id='admin'>
      <h1>Add News</h1>
      <form id='form' method="post" action='/postNews'>
        Author: <input type='text' name='author' value='<%= user.username %>' required disabled><br />
        Content: <textarea name='content' form='form' required></textarea>
        <input type='submit'>
      </form>
    </div>
    <script>
    </script>
  </body>
</html>
