<html>
  <head>
    <title>Coke Bust</title>
    <link rel='stylesheet' href='css.css'>
    <link rel="icon" type="image/x-icon" href="/jubertleft.png">
    <style>
      body {
        text-align: center;
        background-color: #fff;
        color: #000;
      }
      a {
        color: #000;
      }
      a hover {
        color: #f00;
      }
    </style>
  </head>
  <body>
    <a href='/news'><img id='splash' src='billysfriend.jpg'><br />
    [click!]</a><br />
    <p>This site is not GDPR compliant. Sod off</p><br />
    <p><strong><%= hits %></strong> hits since <em>9/27/2017</em></p>
    <a href='/guestbook'><h1>guestbook!</h1></a>
  </body>
</html>
