<html>
  <head>
    <title>Coke Bust</title>
    <link rel='stylesheet' href='css.css'>
    <link rel="icon" type="image/x-icon" href="#">
    <style>
      body {
        text-align: center;
        background-color: #fff;
      }
    </style>
  </head>
  <body>
    <a id='splash' href='/news'><img id='splash' src='billysfriend.jpg'><br />
    [click!]</a>
  </body>
</html>
