<html>
  <head>
    <title>Coke Bust</title>
    <link rel='stylesheet' href='css.css'>
    <style>
      body {
        text-align: center;
        background-color: #fff;
      }
    </style>
  </head>
  <body>
    <a id='splash' href='/news'><img id='splash' src='billysfriend.jpg'></a>
  </body>
</html>
