<% include partials/header %>
    <div id='content'>
      <% data.map(release => { %>
        <a href= '/releases/<%= release.id %>'>
          <div class='releaseThumb'>
            <%= release.name %> (<%= release.year %>)<br />
            <img class='releaseThumbnail' src='<%= release.imgsrc %>'>
          </div>
        </a>
      <% }) %>
    </div>
<% include partials/footer %>
