<% include partials/header %>
    <script>
      const forwardToGraveMistake = () => {
        setTimeout(window.open('https://store.gravemistakerecords.com/search?q=coke+bust', '_blank'),5000)
      }
    </script>
    <div id='content' onload="forwardToGraveMistake()">
      <p>Store Coming Soon! If not forwarded to Grave Mistake's webstore in 5 secs <a href='https://store.gravemistakerecords.com/search?q=coke+bust'>click here</a></p>
    </div>

    <script>

    </script>

<% include partials/footer %>
