<% include partials/header %>
    <div id='content' onload="setTimeout(window.location.href = 'https://store.gravemistakerecords.com/search?q=coke+bust',5000)">
      <p>Store Coming Soon! If not forwarded to our webstore in 5 secs <a href='http://newroseaccessories.storenvy.com/collections/1679757-coke-bust'>click here</a></p>
    </div>

    <script>
      setTimeout(() => {
          window.location.replace("http://newroseaccessories.storenvy.com/collections/1679757-coke-bust")
      }, 5000);
    </script>

<% include partials/footer %>
